.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
}

.button {
  font-family: inherit;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  color: var(--button-text-color);
  background-color: var(--blue-bgc);
}

.container {
  outline: 3px solid salmon;
  width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }

  @media screen and (min-width: 768px) {
    width: $tablet;
  }

  @media screen and (min-width: 1200px) {
    width: $desktop;
  }
}

.section {

  @media screen and (max-width: $mobile-max),
  (min-width: $mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Скрытый заголовок h2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}